@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes popup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/font/SFPRODISPLAYMEDIUM.otf')format('opentype');
}

body {
    font-family: 'SF Pro Display', sans-serif;
}

.popup {
    animation: popup 0.4s linear;
}